.bg-stars {
	position: fixed;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: -2;
	--fg: white;
  background: linear-gradient(45deg, #180900 10%, #000818 90%);
}
.bg-stars .dotWrapper {
	position: absolute;
}
.bg-stars .dotWrapper-1 {
	top: 45%;
	left: 53%;
	-webkit-animation: flying 41s ease-in-out -3.3s infinite alternate;
					animation: flying 41s ease-in-out -3.3s infinite alternate;
}
.bg-stars .dotWrapper-2 {
	top: 56%;
	left: 21%;
	-webkit-animation: flying 68s ease-in-out -1.2s infinite alternate;
					animation: flying 68s ease-in-out -1.2s infinite alternate;
}
.bg-stars .dotWrapper-3 {
	top: 46%;
	left: 28%;
	-webkit-animation: flying 26s ease-in-out -8.8s infinite alternate;
					animation: flying 26s ease-in-out -8.8s infinite alternate;
}
.bg-stars .dotWrapper-4 {
	top: 19%;
	left: 31%;
	-webkit-animation: flying 55s ease-in-out -6.3s infinite alternate;
					animation: flying 55s ease-in-out -6.3s infinite alternate;
}
.bg-stars .dotWrapper-5 {
	top: 34%;
	left: 12%;
	-webkit-animation: flying 66s ease-in-out -0.3s infinite alternate;
					animation: flying 66s ease-in-out -0.3s infinite alternate;
}
.bg-stars .dotWrapper-6 {
	top: 23%;
	left: 86%;
	-webkit-animation: flying 50s ease-in-out -10s infinite alternate;
					animation: flying 50s ease-in-out -10s infinite alternate;
}
.bg-stars .dotWrapper-7 {
	top: 94%;
	left: 50%;
	-webkit-animation: flying 30s ease-in-out -8.4s infinite alternate;
					animation: flying 30s ease-in-out -8.4s infinite alternate;
}
.bg-stars .dotWrapper-8 {
	top: 84%;
	left: 50%;
	-webkit-animation: flying 45s ease-in-out -8.1s infinite alternate;
					animation: flying 45s ease-in-out -8.1s infinite alternate;
}
.bg-stars .dotWrapper-9 {
	top: 47%;
	left: 5%;
	-webkit-animation: flying 21s ease-in-out -2.5s infinite alternate;
					animation: flying 21s ease-in-out -2.5s infinite alternate;
}
.bg-stars .dotWrapper-10 {
	top: 74%;
	left: 37%;
	-webkit-animation: flying 53s ease-in-out -1.8s infinite alternate;
					animation: flying 53s ease-in-out -1.8s infinite alternate;
}
.bg-stars .dotWrapper-11 {
	top: 11%;
	left: 6%;
	-webkit-animation: flying 46s ease-in-out -0.4s infinite alternate;
					animation: flying 46s ease-in-out -0.4s infinite alternate;
}
.bg-stars .dotWrapper-12 {
	top: 29%;
	left: 100%;
	-webkit-animation: flying 55s ease-in-out -3.3s infinite alternate;
					animation: flying 55s ease-in-out -3.3s infinite alternate;
}
.bg-stars .dotWrapper-13 {
	top: 94%;
	left: 96%;
	-webkit-animation: flying 53s ease-in-out -1.6s infinite alternate;
					animation: flying 53s ease-in-out -1.6s infinite alternate;
}
.bg-stars .dotWrapper-14 {
	top: 99%;
	left: 94%;
	-webkit-animation: flying 28s ease-in-out -4.1s infinite alternate;
					animation: flying 28s ease-in-out -4.1s infinite alternate;
}
.bg-stars .dotWrapper-15 {
	top: 63%;
	left: 13%;
	-webkit-animation: flying 23s ease-in-out -0.4s infinite alternate;
					animation: flying 23s ease-in-out -0.4s infinite alternate;
}
.bg-stars .dotWrapper-16 {
	top: 84%;
	left: 88%;
	-webkit-animation: flying 45s ease-in-out -9.8s infinite alternate;
					animation: flying 45s ease-in-out -9.8s infinite alternate;
}
.bg-stars .dotWrapper-17 {
	top: 81%;
	left: 1%;
	-webkit-animation: flying 38s ease-in-out -1.9s infinite alternate;
					animation: flying 38s ease-in-out -1.9s infinite alternate;
}
.bg-stars .dotWrapper-18 {
	top: 80%;
	left: 72%;
	-webkit-animation: flying 34s ease-in-out -0.3s infinite alternate;
					animation: flying 34s ease-in-out -0.3s infinite alternate;
}
.bg-stars .dotWrapper-19 {
	top: 33%;
	left: 84%;
	-webkit-animation: flying 51s ease-in-out -5.4s infinite alternate;
					animation: flying 51s ease-in-out -5.4s infinite alternate;
}
.bg-stars .dotWrapper-20 {
	top: 26%;
	left: 50%;
	-webkit-animation: flying 41s ease-in-out -2.2s infinite alternate;
					animation: flying 41s ease-in-out -2.2s infinite alternate;
}
.bg-stars .dotWrapper-21 {
	top: 16%;
	left: 98%;
	-webkit-animation: flying 61s ease-in-out -2.9s infinite alternate;
					animation: flying 61s ease-in-out -2.9s infinite alternate;
}
.bg-stars .dotWrapper-22 {
	top: 69%;
	left: 31%;
	-webkit-animation: flying 64s ease-in-out -8.2s infinite alternate;
					animation: flying 64s ease-in-out -8.2s infinite alternate;
}
.bg-stars .dotWrapper-23 {
	top: 60%;
	left: 26%;
	-webkit-animation: flying 68s ease-in-out -6.1s infinite alternate;
					animation: flying 68s ease-in-out -6.1s infinite alternate;
}
.bg-stars .dotWrapper-24 {
	top: 52%;
	left: 69%;
	-webkit-animation: flying 49s ease-in-out -1s infinite alternate;
					animation: flying 49s ease-in-out -1s infinite alternate;
}
.bg-stars .dotWrapper-25 {
	top: 30%;
	left: 39%;
	-webkit-animation: flying 40s ease-in-out -8.8s infinite alternate;
					animation: flying 40s ease-in-out -8.8s infinite alternate;
}
.bg-stars .dotWrapper-26 {
	top: 3%;
	left: 24%;
	-webkit-animation: flying 32s ease-in-out -2.2s infinite alternate;
					animation: flying 32s ease-in-out -2.2s infinite alternate;
}
.bg-stars .dotWrapper-27 {
	top: 76%;
	left: 32%;
	-webkit-animation: flying 56s ease-in-out -7.1s infinite alternate;
					animation: flying 56s ease-in-out -7.1s infinite alternate;
}
.bg-stars .dotWrapper-28 {
	top: 84%;
	left: 38%;
	-webkit-animation: flying 32s ease-in-out -1.5s infinite alternate;
					animation: flying 32s ease-in-out -1.5s infinite alternate;
}
.bg-stars .dotWrapper-29 {
	top: 27%;
	left: 11%;
	-webkit-animation: flying 21s ease-in-out -5.3s infinite alternate;
					animation: flying 21s ease-in-out -5.3s infinite alternate;
}
.bg-stars .dotWrapper-30 {
	top: 89%;
	left: 80%;
	-webkit-animation: flying 68s ease-in-out -2.1s infinite alternate;
					animation: flying 68s ease-in-out -2.1s infinite alternate;
}
.bg-stars .dotWrapper-31 {
	top: 11%;
	left: 58%;
	-webkit-animation: flying 49s ease-in-out -10s infinite alternate;
					animation: flying 49s ease-in-out -10s infinite alternate;
}
.bg-stars .dotWrapper-32 {
	top: 4%;
	left: 73%;
	-webkit-animation: flying 24s ease-in-out -4.1s infinite alternate;
					animation: flying 24s ease-in-out -4.1s infinite alternate;
}
.bg-stars .dotWrapper-33 {
	top: 96%;
	left: 13%;
	-webkit-animation: flying 23s ease-in-out -0.7s infinite alternate;
					animation: flying 23s ease-in-out -0.7s infinite alternate;
}
.bg-stars .dotWrapper-34 {
	top: 78%;
	left: 43%;
	-webkit-animation: flying 60s ease-in-out -7.2s infinite alternate;
					animation: flying 60s ease-in-out -7.2s infinite alternate;
}
.bg-stars .dotWrapper-35 {
	top: 89%;
	left: 51%;
	-webkit-animation: flying 67s ease-in-out -8.2s infinite alternate;
					animation: flying 67s ease-in-out -8.2s infinite alternate;
}
.bg-stars .dotWrapper-36 {
	top: 42%;
	left: 94%;
	-webkit-animation: flying 61s ease-in-out -3.8s infinite alternate;
					animation: flying 61s ease-in-out -3.8s infinite alternate;
}
.bg-stars .dotWrapper-37 {
	top: 82%;
	left: 9%;
	-webkit-animation: flying 39s ease-in-out -9.2s infinite alternate;
					animation: flying 39s ease-in-out -9.2s infinite alternate;
}
.bg-stars .dotWrapper-38 {
	top: 48%;
	left: 55%;
	-webkit-animation: flying 61s ease-in-out -5s infinite alternate;
					animation: flying 61s ease-in-out -5s infinite alternate;
}
.bg-stars .dotWrapper-39 {
	top: 10%;
	left: 3%;
	-webkit-animation: flying 64s ease-in-out -3.8s infinite alternate;
					animation: flying 64s ease-in-out -3.8s infinite alternate;
}
.bg-stars .dotWrapper-40 {
	top: 29%;
	left: 68%;
	-webkit-animation: flying 48s ease-in-out -0.6s infinite alternate;
					animation: flying 48s ease-in-out -0.6s infinite alternate;
}
.bg-stars .dotWrapper-41 {
	top: 3%;
	left: 14%;
	-webkit-animation: flying 27s ease-in-out -5s infinite alternate;
					animation: flying 27s ease-in-out -5s infinite alternate;
}
.bg-stars .dotWrapper-42 {
	top: 35%;
	left: 49%;
	-webkit-animation: flying 46s ease-in-out -4.9s infinite alternate;
					animation: flying 46s ease-in-out -4.9s infinite alternate;
}
.bg-stars .dotWrapper-43 {
	top: 13%;
	left: 51%;
	-webkit-animation: flying 52s ease-in-out -6.6s infinite alternate;
					animation: flying 52s ease-in-out -6.6s infinite alternate;
}
.bg-stars .dotWrapper-44 {
	top: 32%;
	left: 39%;
	-webkit-animation: flying 58s ease-in-out -7.6s infinite alternate;
					animation: flying 58s ease-in-out -7.6s infinite alternate;
}
.bg-stars .dotWrapper-45 {
	top: 28%;
	left: 74%;
	-webkit-animation: flying 66s ease-in-out -2.6s infinite alternate;
					animation: flying 66s ease-in-out -2.6s infinite alternate;
}
.bg-stars .dotWrapper-46 {
	top: 39%;
	left: 87%;
	-webkit-animation: flying 36s ease-in-out -0.7s infinite alternate;
					animation: flying 36s ease-in-out -0.7s infinite alternate;
}
.bg-stars .dotWrapper-47 {
	top: 31%;
	left: 19%;
	-webkit-animation: flying 46s ease-in-out -9.7s infinite alternate;
					animation: flying 46s ease-in-out -9.7s infinite alternate;
}
.bg-stars .dotWrapper-48 {
	top: 83%;
	left: 57%;
	-webkit-animation: flying 58s ease-in-out -7.9s infinite alternate;
					animation: flying 58s ease-in-out -7.9s infinite alternate;
}
.bg-stars .dotWrapper-49 {
	top: 61%;
	left: 57%;
	-webkit-animation: flying 31s ease-in-out -1.7s infinite alternate;
					animation: flying 31s ease-in-out -1.7s infinite alternate;
}
.bg-stars .dotWrapper-50 {
	top: 85%;
	left: 58%;
	-webkit-animation: flying 28s ease-in-out -8.9s infinite alternate;
					animation: flying 28s ease-in-out -8.9s infinite alternate;
}
.bg-stars .dotWrapper-51 {
	top: 88%;
	left: 46%;
	-webkit-animation: flying 44s ease-in-out -5.3s infinite alternate;
					animation: flying 44s ease-in-out -5.3s infinite alternate;
}
.bg-stars .dotWrapper-52 {
	top: 11%;
	left: 9%;
	-webkit-animation: flying 43s ease-in-out -1.7s infinite alternate;
					animation: flying 43s ease-in-out -1.7s infinite alternate;
}
.bg-stars .dotWrapper-53 {
	top: 32%;
	left: 8%;
	-webkit-animation: flying 51s ease-in-out -9.6s infinite alternate;
					animation: flying 51s ease-in-out -9.6s infinite alternate;
}
.bg-stars .dotWrapper-54 {
	top: 96%;
	left: 42%;
	-webkit-animation: flying 68s ease-in-out -9.1s infinite alternate;
					animation: flying 68s ease-in-out -9.1s infinite alternate;
}
.bg-stars .dotWrapper-55 {
	top: 12%;
	left: 26%;
	-webkit-animation: flying 30s ease-in-out -9.3s infinite alternate;
					animation: flying 30s ease-in-out -9.3s infinite alternate;
}
.bg-stars .dotWrapper-56 {
	top: 5%;
	left: 71%;
	-webkit-animation: flying 21s ease-in-out -5.1s infinite alternate;
					animation: flying 21s ease-in-out -5.1s infinite alternate;
}
.bg-stars .dotWrapper-57 {
	top: 78%;
	left: 18%;
	-webkit-animation: flying 44s ease-in-out -5.9s infinite alternate;
					animation: flying 44s ease-in-out -5.9s infinite alternate;
}
.bg-stars .dotWrapper-58 {
	top: 55%;
	left: 84%;
	-webkit-animation: flying 32s ease-in-out -2.2s infinite alternate;
					animation: flying 32s ease-in-out -2.2s infinite alternate;
}
.bg-stars .dotWrapper-59 {
	top: 73%;
	left: 94%;
	-webkit-animation: flying 34s ease-in-out -8.2s infinite alternate;
					animation: flying 34s ease-in-out -8.2s infinite alternate;
}
.bg-stars .dotWrapper-60 {
	top: 96%;
	left: 55%;
	-webkit-animation: flying 29s ease-in-out -4.3s infinite alternate;
					animation: flying 29s ease-in-out -4.3s infinite alternate;
}
.bg-stars .dotWrapper-61 {
	top: 65%;
	left: 19%;
	-webkit-animation: flying 24s ease-in-out -6.2s infinite alternate;
					animation: flying 24s ease-in-out -6.2s infinite alternate;
}
.bg-stars .dotWrapper-62 {
	top: 57%;
	left: 87%;
	-webkit-animation: flying 36s ease-in-out -1.4s infinite alternate;
					animation: flying 36s ease-in-out -1.4s infinite alternate;
}
.bg-stars .dotWrapper-63 {
	top: 15%;
	left: 35%;
	-webkit-animation: flying 37s ease-in-out -2.3s infinite alternate;
					animation: flying 37s ease-in-out -2.3s infinite alternate;
}
.bg-stars .dotWrapper-64 {
	top: 96%;
	left: 41%;
	-webkit-animation: flying 31s ease-in-out -6.9s infinite alternate;
					animation: flying 31s ease-in-out -6.9s infinite alternate;
}
.bg-stars .dotWrapper-65 {
	top: 47%;
	left: 70%;
	-webkit-animation: flying 35s ease-in-out -2.8s infinite alternate;
					animation: flying 35s ease-in-out -2.8s infinite alternate;
}
.bg-stars .dotWrapper-66 {
	top: 3%;
	left: 76%;
	-webkit-animation: flying 63s ease-in-out -2.7s infinite alternate;
					animation: flying 63s ease-in-out -2.7s infinite alternate;
}
.bg-stars .dotWrapper-67 {
	top: 68%;
	left: 71%;
	-webkit-animation: flying 48s ease-in-out -5.7s infinite alternate;
					animation: flying 48s ease-in-out -5.7s infinite alternate;
}
.bg-stars .dotWrapper-68 {
	top: 3%;
	left: 20%;
	-webkit-animation: flying 42s ease-in-out -2s infinite alternate;
					animation: flying 42s ease-in-out -2s infinite alternate;
}
.bg-stars .dotWrapper-69 {
	top: 16%;
	left: 44%;
	-webkit-animation: flying 49s ease-in-out -5.3s infinite alternate;
					animation: flying 49s ease-in-out -5.3s infinite alternate;
}
.bg-stars .dotWrapper-70 {
	top: 14%;
	left: 18%;
	-webkit-animation: flying 46s ease-in-out -7s infinite alternate;
					animation: flying 46s ease-in-out -7s infinite alternate;
}
.bg-stars .dotWrapper-71 {
	top: 27%;
	left: 100%;
	-webkit-animation: flying 24s ease-in-out -4.7s infinite alternate;
					animation: flying 24s ease-in-out -4.7s infinite alternate;
}
.bg-stars .dotWrapper-72 {
	top: 81%;
	left: 34%;
	-webkit-animation: flying 69s ease-in-out -7.2s infinite alternate;
					animation: flying 69s ease-in-out -7.2s infinite alternate;
}
.bg-stars .dotWrapper-73 {
	top: 49%;
	left: 83%;
	-webkit-animation: flying 39s ease-in-out -9.4s infinite alternate;
					animation: flying 39s ease-in-out -9.4s infinite alternate;
}
.bg-stars .dotWrapper-74 {
	top: 71%;
	left: 70%;
	-webkit-animation: flying 41s ease-in-out -8.5s infinite alternate;
					animation: flying 41s ease-in-out -8.5s infinite alternate;
}
.bg-stars .dotWrapper-75 {
	top: 30%;
	left: 92%;
	-webkit-animation: flying 43s ease-in-out -6.8s infinite alternate;
					animation: flying 43s ease-in-out -6.8s infinite alternate;
}
.bg-stars .dot {
	width: 4px;
	height: 4px;
	background: var(--fg);
	border-radius: 50%;
}
.bg-stars .dot-1 {
	transform-origin: 14px 11px;
	-webkit-animation: rotating 11s ease-in-out -4.5s infinite;
					animation: rotating 11s ease-in-out -4.5s infinite;
}
.bg-stars .dot-2 {
	transform-origin: 11px -4px;
	-webkit-animation: rotating 18s ease-in-out -10s infinite;
					animation: rotating 18s ease-in-out -10s infinite;
}
.bg-stars .dot-3 {
	transform-origin: 3px -11px;
	-webkit-animation: rotating 24s ease-in-out -7s infinite;
					animation: rotating 24s ease-in-out -7s infinite;
}
.bg-stars .dot-4 {
	transform-origin: 2px 5px;
	-webkit-animation: rotating 12s ease-in-out -5.2s infinite;
					animation: rotating 12s ease-in-out -5.2s infinite;
}
.bg-stars .dot-5 {
	transform-origin: 12px 5px;
	-webkit-animation: rotating 28s ease-in-out -2.4s infinite;
					animation: rotating 28s ease-in-out -2.4s infinite;
}
.bg-stars .dot-6 {
	transform-origin: -8px -9px;
	-webkit-animation: rotating 30s ease-in-out -0.4s infinite;
					animation: rotating 30s ease-in-out -0.4s infinite;
}
.bg-stars .dot-7 {
	transform-origin: 15px 14px;
	-webkit-animation: rotating 25s ease-in-out -3.1s infinite;
					animation: rotating 25s ease-in-out -3.1s infinite;
}
.bg-stars .dot-8 {
	transform-origin: -3px 14px;
	-webkit-animation: rotating 18s ease-in-out -6.4s infinite;
					animation: rotating 18s ease-in-out -6.4s infinite;
}
.bg-stars .dot-9 {
	transform-origin: -10px 11px;
	-webkit-animation: rotating 30s ease-in-out -7.5s infinite;
					animation: rotating 30s ease-in-out -7.5s infinite;
}
.bg-stars .dot-10 {
	transform-origin: -7px 4px;
	-webkit-animation: rotating 28s ease-in-out -6.1s infinite;
					animation: rotating 28s ease-in-out -6.1s infinite;
}
.bg-stars .dot-11 {
	transform-origin: -3px -8px;
	-webkit-animation: rotating 15s ease-in-out -5.4s infinite;
					animation: rotating 15s ease-in-out -5.4s infinite;
}
.bg-stars .dot-12 {
	transform-origin: -11px -4px;
	-webkit-animation: rotating 21s ease-in-out -0.2s infinite;
					animation: rotating 21s ease-in-out -0.2s infinite;
}
.bg-stars .dot-13 {
	transform-origin: -11px 5px;
	-webkit-animation: rotating 17s ease-in-out -6.5s infinite;
					animation: rotating 17s ease-in-out -6.5s infinite;
}
.bg-stars .dot-14 {
	transform-origin: 1px 2px;
	-webkit-animation: rotating 11s ease-in-out -3.8s infinite;
					animation: rotating 11s ease-in-out -3.8s infinite;
}
.bg-stars .dot-15 {
	transform-origin: 2px 3px;
	-webkit-animation: rotating 20s ease-in-out -1.1s infinite;
					animation: rotating 20s ease-in-out -1.1s infinite;
}
.bg-stars .dot-16 {
	transform-origin: 2px -8px;
	-webkit-animation: rotating 27s ease-in-out -4.6s infinite;
					animation: rotating 27s ease-in-out -4.6s infinite;
}
.bg-stars .dot-17 {
	transform-origin: -6px 2px;
	-webkit-animation: rotating 18s ease-in-out -4s infinite;
					animation: rotating 18s ease-in-out -4s infinite;
}
.bg-stars .dot-18 {
	transform-origin: -2px 11px;
	-webkit-animation: rotating 26s ease-in-out -7.3s infinite;
					animation: rotating 26s ease-in-out -7.3s infinite;
}
.bg-stars .dot-19 {
	transform-origin: -9px -14px;
	-webkit-animation: rotating 21s ease-in-out -8.4s infinite;
					animation: rotating 21s ease-in-out -8.4s infinite;
}
.bg-stars .dot-20 {
	transform-origin: -14px -4px;
	-webkit-animation: rotating 15s ease-in-out -0.4s infinite;
					animation: rotating 15s ease-in-out -0.4s infinite;
}
.bg-stars .dot-21 {
	transform-origin: 6px -7px;
	-webkit-animation: rotating 17s ease-in-out -3.2s infinite;
					animation: rotating 17s ease-in-out -3.2s infinite;
}
.bg-stars .dot-22 {
	transform-origin: 0px 4px;
	-webkit-animation: rotating 29s ease-in-out -4.7s infinite;
					animation: rotating 29s ease-in-out -4.7s infinite;
}
.bg-stars .dot-23 {
	transform-origin: -10px -3px;
	-webkit-animation: rotating 26s ease-in-out -2.5s infinite;
					animation: rotating 26s ease-in-out -2.5s infinite;
}
.bg-stars .dot-24 {
	transform-origin: 4px 5px;
	-webkit-animation: rotating 13s ease-in-out -1.3s infinite;
					animation: rotating 13s ease-in-out -1.3s infinite;
}
.bg-stars .dot-25 {
	transform-origin: -5px 9px;
	-webkit-animation: rotating 24s ease-in-out -9.1s infinite;
					animation: rotating 24s ease-in-out -9.1s infinite;
}
.bg-stars .dot-26 {
	transform-origin: -1px 13px;
	-webkit-animation: rotating 16s ease-in-out -7.5s infinite;
					animation: rotating 16s ease-in-out -7.5s infinite;
}
.bg-stars .dot-27 {
	transform-origin: 8px 2px;
	-webkit-animation: rotating 23s ease-in-out -5.2s infinite;
					animation: rotating 23s ease-in-out -5.2s infinite;
}
.bg-stars .dot-28 {
	transform-origin: -1px 4px;
	-webkit-animation: rotating 15s ease-in-out -3.8s infinite;
					animation: rotating 15s ease-in-out -3.8s infinite;
}
.bg-stars .dot-29 {
	transform-origin: 2px 0px;
	-webkit-animation: rotating 20s ease-in-out -9.4s infinite;
					animation: rotating 20s ease-in-out -9.4s infinite;
}
.bg-stars .dot-30 {
	transform-origin: -8px 0px;
	-webkit-animation: rotating 17s ease-in-out -10s infinite;
					animation: rotating 17s ease-in-out -10s infinite;
}
.bg-stars .dot-31 {
	transform-origin: -10px -9px;
	-webkit-animation: rotating 11s ease-in-out -0.1s infinite;
					animation: rotating 11s ease-in-out -0.1s infinite;
}
.bg-stars .dot-32 {
	transform-origin: 11px -2px;
	-webkit-animation: rotating 26s ease-in-out -3.3s infinite;
					animation: rotating 26s ease-in-out -3.3s infinite;
}
.bg-stars .dot-33 {
	transform-origin: -12px 6px;
	-webkit-animation: rotating 26s ease-in-out -7.9s infinite;
					animation: rotating 26s ease-in-out -7.9s infinite;
}
.bg-stars .dot-34 {
	transform-origin: -6px -1px;
	-webkit-animation: rotating 12s ease-in-out -4s infinite;
					animation: rotating 12s ease-in-out -4s infinite;
}
.bg-stars .dot-35 {
	transform-origin: -5px -13px;
	-webkit-animation: rotating 13s ease-in-out -4s infinite;
					animation: rotating 13s ease-in-out -4s infinite;
}
.bg-stars .dot-36 {
	transform-origin: -3px -7px;
	-webkit-animation: rotating 18s ease-in-out -5.3s infinite;
					animation: rotating 18s ease-in-out -5.3s infinite;
}
.bg-stars .dot-37 {
	transform-origin: -9px 10px;
	-webkit-animation: rotating 22s ease-in-out -0.7s infinite;
					animation: rotating 22s ease-in-out -0.7s infinite;
}
.bg-stars .dot-38 {
	transform-origin: 6px 13px;
	-webkit-animation: rotating 21s ease-in-out -5.9s infinite;
					animation: rotating 21s ease-in-out -5.9s infinite;
}
.bg-stars .dot-39 {
	transform-origin: 5px -1px;
	-webkit-animation: rotating 14s ease-in-out -6s infinite;
					animation: rotating 14s ease-in-out -6s infinite;
}
.bg-stars .dot-40 {
	transform-origin: 10px 10px;
	-webkit-animation: rotating 14s ease-in-out -3.9s infinite;
					animation: rotating 14s ease-in-out -3.9s infinite;
}
.bg-stars .dot-41 {
	transform-origin: -13px 3px;
	-webkit-animation: rotating 19s ease-in-out -8.8s infinite;
					animation: rotating 19s ease-in-out -8.8s infinite;
}
.bg-stars .dot-42 {
	transform-origin: 4px 8px;
	-webkit-animation: rotating 25s ease-in-out -6s infinite;
					animation: rotating 25s ease-in-out -6s infinite;
}
.bg-stars .dot-43 {
	transform-origin: -6px 7px;
	-webkit-animation: rotating 21s ease-in-out -0.8s infinite;
					animation: rotating 21s ease-in-out -0.8s infinite;
}
.bg-stars .dot-44 {
	transform-origin: -2px 4px;
	-webkit-animation: rotating 13s ease-in-out -3.8s infinite;
					animation: rotating 13s ease-in-out -3.8s infinite;
}
.bg-stars .dot-45 {
	transform-origin: -6px -13px;
	-webkit-animation: rotating 14s ease-in-out -5.9s infinite;
					animation: rotating 14s ease-in-out -5.9s infinite;
}
.bg-stars .dot-46 {
	transform-origin: -13px 3px;
	-webkit-animation: rotating 25s ease-in-out -2.7s infinite;
					animation: rotating 25s ease-in-out -2.7s infinite;
}
.bg-stars .dot-47 {
	transform-origin: 1px 6px;
	-webkit-animation: rotating 18s ease-in-out -3.1s infinite;
					animation: rotating 18s ease-in-out -3.1s infinite;
}
.bg-stars .dot-48 {
	transform-origin: 6px 13px;
	-webkit-animation: rotating 20s ease-in-out -5.2s infinite;
					animation: rotating 20s ease-in-out -5.2s infinite;
}
.bg-stars .dot-49 {
	transform-origin: -5px -12px;
	-webkit-animation: rotating 25s ease-in-out -1.1s infinite;
					animation: rotating 25s ease-in-out -1.1s infinite;
}
.bg-stars .dot-50 {
	transform-origin: 7px -6px;
	-webkit-animation: rotating 13s ease-in-out -3s infinite;
					animation: rotating 13s ease-in-out -3s infinite;
}
@-webkit-keyframes rotating {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	25%, 75% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	25%, 75% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}
@-webkit-keyframes flying {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(20px, 50px);
	}
	20% {
		transform: translate(-30px, 10px);
	}
	30% {
		transform: translate(10px, 60px);
	}
	40% {
		transform: translate(50px, 0px);
	}
	50% {
		transform: translate(-10px, -40px);
	}
	60% {
		transform: translate(-40px, 20px);
	}
	70% {
		transform: translate(30px, -30px);
	}
	80% {
		transform: translate(0px, -60px);
	}
	90% {
		transform: translate(40px, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes flying {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(20px, 50px);
	}
	20% {
		transform: translate(-30px, 10px);
	}
	30% {
		transform: translate(10px, 60px);
	}
	40% {
		transform: translate(50px, 0px);
	}
	50% {
		transform: translate(-10px, -40px);
	}
	60% {
		transform: translate(-40px, 20px);
	}
	70% {
		transform: translate(30px, -30px);
	}
	80% {
		transform: translate(0px, -60px);
	}
	90% {
		transform: translate(40px, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}