@mixin bar-icon(){
  width: 40px;
  height: 40.2px;
  // aspect-ratio: 1.0401497815685459;
  position: absolute;
  --shadow: 80%;
  --shadow-margin: 10%;

  &::before, &::after, .inner{
    content: "";
    display: block;
    background: var(--color);
    position: absolute;
    transition: 0.4s;
  }

  &::before{
    width: var(--shadow);
    height: var(--shadow);
    filter: blur(15px);
    border-radius: 50%;
    margin: var(--shadow-margin);
  }

  .inner{
    background: rgba(209, 209, 209, 0.377);
  }

  &::after, .inner{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    clip-path: path(var(--shape));
    margin-left: 5%;
  }

  &:not(.vertical)::after{
    width: var(--active, 100%);
  }
  &.vertical::after{
    height: var(--active, 100%);
  }

  &::before{
    opacity: var(--active);
  }

  span{
    font-size: 12px;
    color: var(--color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    scale: 0;
  }

  &:has(span){
    &:hover{
  
      &::after, .inner{
        scale: 0;
      }
  
      span{
        scale: 1;
      }
    }
  }
}


.hud-bottom-ui{
	position: absolute;
	bottom: 0;
	left: 0;
  height: auto;
	width: 100%;
}

.hud{
  z-index: 1;

  .bar-icon{
    @include bar-icon();
  }

  .hp{
    --color: #e71616;
    --shape: 'M 9.3578352,-0.00965661 0.44583625,6.2289 0,21.82476 20.644218,40.010494 40,21.82476 39.554689,6.2289 30.64269,-0.00965661 20.000262,4.8683384 Z';
    bottom: 15px;
    right: 15px;
  }

  .exp{
    --color: #16e7a1;
    --shape: 'm 13.238846,0.75517191 c 0,3.67696999 -1.755528,13.68345109 1.685746,15.97980809 2.441499,1.629209 7.136343,0.747466 9.950611,0.747466 L 12.511572,40.755172 H 11.7843 c 3e-6,-5.333337 0.347936,-11.193554 0,-16.000011 -1.340648,-8.240466 -7.7575743,0 -11.6363603,0 z';
    bottom: 15px;
    left: 15px;
    --shadow: 50%;
    --shadow-margin: 30% 20%;

    .inner, &::after{
      margin-left: 5px;
    }
  }

}


.hud-bar{
	position: relative;
	text-align: center;
	width: 200px;
	max-width: 100%;
	color: white;
	border-radius: 5px;
	height: 4px;
	overflow: visible;
}

.hud-bar::before{
	width: 100%;
	background: #1a1b1f;
	display: block;
	height: inherit;
	content: "";
}

.hud-bar::after{
	width: var(--width);
	content: "";
	display: block;
	height: inherit;
	background: var(--background);
	position: absolute;
	top: 0;
	left: 0;
	transition: .4s width;
}

.hud-bar .text{
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translate(-50%, 0);
}


.hud-top-left{
	position: absolute;
	top: 5px;
	left: 5px;
	background: var(--var-bg-1);
	opacity: .8;

	width: 150px;
	height: 100px;

	scale: 1;

	padding: 5px;
}


.preview-chunk, .preview-entity{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	left: 0px;
  margin-top: -7px;
}

.preview-entity::after{
	width: 4px;
	height: 4px;
	background: black;
}

.hud-top-left .title{
	height: 30px;
  color: white;
	line-height:  30px;
	text-align: center;
	position: relative;
}

.hud-top-left .preview-chunk, .hud-top-left .preview-entity{
	top: calc(50% - 10px);
}


.space-10{
	display: block;
	width: 100%;
	height: 25px;
}


body.crosshair #crosshair{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background: white;
  clip-path: path('M 8.5866598,0 V 8.233234 H 11.41322 V 0 Z m -6.75942,1.827236 v 2.826548 3.57945 h 2.86574 V 4.653784 H 8.23324 V 1.827236 H 4.69298 Z m 9.9395202,0 v 2.826548 h 3.54026 v 3.57945 h 2.86574 V 4.653784 1.827236 H 15.30702 Z M 0,8.578552 V 11.4051 H 8.23324 V 8.578552 Z m 11.76676,0 V 11.4051 H 20 V 8.578552 Z m -9.9395202,3.179982 v 3.540256 2.865742 H 4.6537798 8.23324 V 15.29879 H 4.6537798 v -3.540256 z m 6.75942,0 v 8.233234 H 11.41322 v -8.233234 z m 6.7595602,0 v 3.540256 h -3.57946 v 2.865742 h 3.57946 2.82654 V 15.29879 11.758534 Z');
}
