:root{
  --var-bg-1: #18061C;
  --var-bg-2: #2A1333;

  --var-bg-3: #241232;
  --var-bg-4: #190E1C;
  --var-bg-5: #18061C;

  --var-bg-6: #10001D;
  --var-bg-7: #230E33;
  --var-bg-8: #150D2A;

  --var-fg-1: #DB00FF;

  --var-class-elite: #CC00FF;
}