@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Neon&family=Yarndings+12&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;

	font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

*{
	box-sizing: border-box;
}

:root{
	--vp-c-bg: #0a090e;
	--vp-c-bg-alt: #1e1e22;
	--vp-c-bg-elv: #1a1b1f;
	--vp-c-bg-soft: #1a1b1f88;
	--vp-c-text: rgba(255, 255, 245, .86);
	--vp-c-fg: #c6baea;
}


.player-menu{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;

	transform: translate(-50%, -50%) scale(5);
	padding: 10px;
	transition: .4s;
	z-index: -1;
	opacity: 0;
	
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	/* justify-content: center; */

	background: linear-gradient(
		to right,
		var(--vp-c-bg-soft) 70%,
		transparent 100%
	);

	color: white;
	/* background-color: var(--vp-c-bg-alt); */
}

.player-menu.active{
	transform: translate(-50%, -50%) scale(1);
	z-index: 1;
	opacity: 1;
}

.player-menu .menu{
	max-width: 516px;
	max-height: calc(100dvh - 80px);
	min-height: 360px;
	position: relative;
	background-color: var(--vp-c-bg-alt);
	border-radius: 12px;
	overflow: hidden;
}

.player-menu .tabs{
	display: flex;
	flex-wrap: nowrap;
	gap: 0px;
	padding: 10px 10px;
	color: white;
}

.player-menu .tabs .tab{
	padding: 5px 10px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	border: 1px solid var(--vp-c-bg);
	border-radius: 5px;
	transition: .25s;
}

.player-menu .tabs .tab > b {
	display: inline-block;
	width: 32px;
	height: 32px;
	position: relative;
}

.player-menu .tabs .tab > b::before{
	background: var(--vp-c-fg);
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
}

.player-menu .tabs .tab > b::after{
	background: var(--vp-c-fg);
	content: "";
	display: none;
	width: 28px;
	height: 28px;
	filter: blur(5px);
	z-index: -1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.4;
}

.player-menu .tabs .tab > b.inventory-icon::before{
	clip-path: path('m 5.2417422,10.6574 3.1646564,1.102832 3.5961954,1.246684 2.876958,1.03091 1.582323,-0.45552 4.027744,-1.342578 v 3.452349 l 1.5104,-0.743217 0.07192,-1.126809 0.143855,-2.301564 3.308497,-1.006933 1.078861,-0.45552 0.07192,-0.9829623 L 26.818922,5.335033 24.948901,4.9514367 20.633466,3.9924499 17.756506,3.3211611 14.160312,4.4239937 8.1187016,6.3419663 6.1048296,7.0132551 5.1698193,7.3728759 5.0978964,8.2119842 5.2417422,10.6574  m 14.8163328,5.897764 -0.143851,-3.308503 -3.452349,1.150785 -1.534375,0.479491 -1.774122,-0.719242 -5.1785222,-1.965919 -2.7331136,-0.958987 0.575395,9.350114 0.1438467,2.876958 0.2157686,1.414506 1.2227083,0.551414 2.4454148,0.958986 3.8838924,1.558353 1.582328,0.503467 1.726174,-1.054887 4.74698,-2.876953 3.164651,-1.894002 1.294631,-0.911034 0.143846,-3.284527 0.287697,-7.336241 -3.020805,0.958986 -0.93501,0.359621 -0.239751,2.709132 -0.839111,0.599371 z');
}

.player-menu .tabs .tab > b.craft-icon::before{
	clip-path: path('M 12.461255 6.8858846 L 12.461255 14.174329 C 12.461255 18.182813 11.628884 21.976713 10.611755 22.605339 C 6.7740046 24.977189 8.8810467 27.668939 13.84825 26.73997 C 16.64533 26.216983 20.59847 26.417298 22.632727 27.185421 L 22.632727 27.184904 C 26.825314 28.767952 28.721575 26.105197 25.614457 22.998079 C 22.205564 19.589185 23.283184 15.055063 28.117147 12.467973 C 34.624084 8.9855792 32.17251 6.8858846 21.598682 6.8858846 L 12.461255 6.8858846 z  M 5.5262777 8.7973958 L 0.44079997 8.8588908 L 4.806425 12.495878 C 10.230234 17.014498 10.611755 17.010554 10.611755 12.434383 C 10.611755 9.6174849 9.3995128 8.7496459 5.5262777 8.7973958 z');
}

.player-menu .tabs .tab > b.book-icon::before{
	clip-path: path('M 9.1958827,24.970291 4.0589237,23.397816 V 19.774678 16.15154 l 4.983639,-6.117942 4.9836763,-6.1179817 1.23478,0.457465 c 0.67908,0.251786 3.7897,1.105445 6.91245,1.897426 l 5.67769,1.43996 -0.008,1.147382 c -0.004,0.631059 -2.07208,3.7352157 -4.59623,6.8981507 l -4.58929,5.750808 -3.78512,-0.592309 C 12.790709,20.588731 9.7490507,20.012444 8.1133427,19.633866 l -2.974013,-0.688323 v 1.177303 1.177343 l 6.1523193,1.788536 6.15231,1.788537 1.68832,-2.075679 c 0.92854,-1.141619 3.26994,-3.990394 5.20305,-6.33061 l 3.51478,-4.254892 v 1.616824 c 0,0.88922 -2.22773,4.163415 -4.95045,7.27591 l -4.95049,5.659128 -1.80869,-0.112404 c -0.9948,-0.06213 -4.12033,-0.820184 -6.9456433,-1.685043 z  M 21.398899,11.086684 c -0.10259,-1.4256137 -5.54022,-2.8754657 -7.60678,-2.0281827 l -1.62222,0.665107 3.24439,1.4573317 c 3.5837,1.609711 6.10417,1.570022 5.98461,-0.09442 z');
}

.player-menu .tabs .tab > b.map-icon::before{
	clip-path: path('m 17.750313,4.3136483 c -0.890636,-0.00343 -2.00987,0.02874 -3.399162,0.089117 C 7.2580566,4.7112187 2.6783324,8.219154 9.3687235,8.219154 c 3.1337005,0 3.1281405,-0.4733086 0.07349,6.433755 -2.432841,5.501083 -3.2178801,10.609657 -1.8419351,11.9856 0.3683743,0.368298 3.5421556,0.669532 7.0523626,0.669532 h 6.382252 L 20.442904,24.949923 C 20.08444,23.52169 20.86926,20.085144 22.432982,16.236753 25.50912,8.6663429 25.772148,5.1705492 23.257021,5.2840935 c -1.050366,0.047391 -1.252561,0.2835595 -0.502293,0.586202 0.690725,0.2787205 1.255733,0.948067 1.255733,1.4872053 0,0.5388339 -0.452006,0.7001568 -1.004587,0.3587811 C 22.453297,7.3747535 21.993168,7.6873534 21.985665,8.4106963 21.973817,9.4215351 21.762531,9.3981561 21.073666,8.3100061 20.58078,7.5312613 20.41848,6.2659001 20.713149,5.4982043 21.036791,4.6535796 20.422219,4.3239295 17.750313,4.3136483 Z  m -0.890588,7.2635797 c 1.279745,-0.03269 2.127224,0.726911 2.127224,2.071093 0,0.710623 -0.969992,2.153199 -2.155579,3.205882 l -2.15558,1.914271 1.157358,-2.207083 c 0.944271,-1.800329 0.858656,-2.374378 -0.465836,-3.115608 l -1.623773,-0.908527 1.707681,-0.655643 c 0.507221,-0.194629 0.981923,-0.293489 1.408505,-0.304385 z  M 14.39108,21.39394 c 0.412026,0.03533 0.577123,0.388543 0.388872,0.953664 -0.241771,0.72528 -1.033325,1.51614 -1.758605,1.758027 -0.753419,0.251189 -1.130014,-0.125482 -0.879013,-0.879014 0.241772,-0.725243 1.032745,-1.516139 1.758027,-1.758027 0.188354,-0.06279 0.353377,-0.08643 0.490719,-0.07465 z  m 7.550026,1.214069 c -0.595554,-0.0018 -0.944982,0.208857 -0.944982,0.613979 0,0.589831 0.791551,1.10791 1.758606,1.151571 1.050328,0.04739 1.25252,0.283559 0.502293,0.586202 -0.690726,0.278721 -1.255734,0.921043 -1.255734,1.427602 0,1.545227 3.037005,1.02438 3.671719,-0.629603 0.69999,-1.824099 0.55364,-2.000821 -2.415985,-2.913649 -0.512405,-0.157536 -0.958584,-0.235 -1.315917,-0.236102 z');
}

.player-menu .tabs .tab > b.settings-icon{
	clip-path: path('M 9.0175713,3.4137027 C 9.7033561,5.7832297 9.6519429,8.7639665 6.5768398,9.4472782 5.5858108,9.6675093 4.3587653,9.1355593 3.3228005,9.1084362 L 2.5094932,11.955703 c 4.4389823,1.75231 3.2649693,5.259412 0,7.321625 l 1.2201637,2.847267 c 4.0426513,-1.170248 6.5469411,1.300642 5.2879144,5.28783 l 2.8471837,1.220288 c 1.871132,-2.962567 6.006086,-4.544808 7.321789,0 L 22.033727,27.8192 c -0.06479,-0.802215 -0.417789,-1.645277 -0.406855,-2.440529 0.05262,-3.739596 3.538638,-3.726152 6.101623,-3.254076 l 0.813307,-3.254041 c -0.661896,-0.191486 -1.114092,-0.255857 -1.627014,-0.813514 -1.562656,-1.698429 -1.433919,-3.534339 0.137639,-5.220019 0.789423,-0.84796 1.863035,-1.09216 1.355783,-2.508339 -0.758653,-2.1184899 -3.162955,-0.308079 -4.745439,-1.3558612 -1.00196,-0.6632394 -2.016063,-1.8579782 -2.033875,-3.1184619 0,-0.7676413 0.661903,-1.636331 0.202412,-2.3727233 -0.49187,-0.7899448 -1.843198,-0.8181262 -2.643551,-0.8813181 -1.564674,3.1287446 -5.757923,3.9976775 -6.914932,0 L 9.0187853,3.4138243  m 6.5068637,4.2032495 c 1.819719,-0.1959399 2.008371,2.7116862 0,2.7116862 -1.688554,0 -1.500713,-2.5501132 0,-2.7116862  M 10.64459,9.5830581 C 12.342051,9.0737833 12.967112,11.799479 11.457898,12.226933 9.7717736,12.70476 9.1386161,10.034855 10.64459,9.5830581  m 9.355261,0 c 1.89542,-0.3959199 2.14763,2.4171309 0.406856,2.7116869 -1.603944,0.271646 -2.088528,-2.3602522 -0.406856,-2.7116869  m -4.474202,2.9153999 c 3.759674,0 4.277048,5.696958 0.406857,5.965764 -4.033342,0.280148 -4.383115,-5.965764 -0.406857,-5.965764  m -6.5080777,1.6273 c 1.8197207,-0.195933 2.0083707,2.711729 0,2.711729 -1.6885538,0 -1.5007123,-2.550121 0,-2.711729  m 13.4230087,0.06801 c 1.695033,0.269206 1.222191,2.643911 -0.406853,2.643911 -1.727013,0 -1.405171,-2.931546 0.406853,-2.643911  m -11.793965,4.745793 c 1.559817,-0.468021 2.307946,1.85652 0.813307,2.304956 -1.5598171,0.468029 -2.3079469,-1.856563 -0.813307,-2.304956  m 9.35526,0 c 1.560626,-0.419281 2.299443,1.784826 0.813715,2.304956 -1.803124,0.631088 -2.709543,-1.795594 -0.813715,-2.304956  m -4.474202,1.694833 c 1.819719,-0.19594 2.008371,2.711686 0,2.711686 -1.688554,0 -1.500712,-2.550121 0,-2.711686');
}

.player-menu .tabs .tab.active{
	color: white;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	margin-top: 10px;
	border-color: var(--vp-c-fg);
}

.player-menu .tabs .tab > b:hover{
	--bg-icon: var(--bg-icon-hover, var(--bg-icon-base));
}

.player-menu .tabs .tab.active > b {
	--bg-icon: var(--bg-icon-active, var(--bg-icon-base));
}

.player-menu .tabs .tab.active > b::after{
	display: block !important;
}

.player-menu .tab-panes {
	position: absolute;
	top: 60px;
	height: calc(100% - 60px);
	width: 100%;
	border-top: 1px solid var(--vp-c-bg);
}

.player-menu .tab-panes .tab-pane{
	display: none;
	padding: 10px;
}

.player-menu .tab-panes .tab-pane.active{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

.player-menu .inventory{
	display: flex;
	justify-content: space-between;
	align-items: self-end;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.player-menu .inventory .inventory-group{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-height: 100%;
	overflow: scroll;
	max-width: calc(100% - 80px);
}

.player-menu .inventory-slot{
	width: 35px;
	height: 35px;
	background-color: var(--vp-c-bg-alt);
	border: 1px solid var(--vp-c-bg);
	display: block;
	text-align: center;
	line-height: 35px;
	border-radius: 5px;
}

.player-menu .inventory .inventory-slot.wearable{
	background-color: rgba(48, 91, 184, 0.4);
}

.player-menu .item{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #70c70d;
	position: relative;
	cursor: pointer;
}

.player-menu .item.with-icon{
	background: var(--item-url) no-repeat;
}

.player-menu .inventory .inventory-item-info .item-icon{
	display: inline-block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 0;
}

.player-menu .item .item-count{
	color: white;
	position: absolute;
	bottom: -10px;
	right: 1px;
	display: block;
	font-weight: 700;
}

.player-menu .inventory .inventory-item-info{
	position: absolute;
	width: calc(100% - 20px);
	height: 100px;
	display: flex;
	color: white;
	font-weight: 700;
	flex-direction: column;
	z-index: 100;
	border-radius: 15px;
	overflow: auto;
	top: 10px;
	left: 10px;
}

.player-menu .inventory .inventory-item-info .item-title{
	font-size: 22px;
	width: 100%;
	text-align: center;
}
.player-menu .inventory .inventory-item-info .item-title > span {
	font-size: 16px;
	position: absolute;
}

.player-menu .inventory-item-info button {
	cursor: pointer;
}

.player-menu .tab-pane#map{
	padding: 5px 0;
}

.player-menu .tab-pane #map{
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
}

.player-menu .tab-pane#craft-ui .item-content-editor{
	width: 100%;
	height: 40px;
	padding: 5px;
	background: var(--vp-c-bg-alt);
	border-radius: 5px;
	color: white;
}

.player-menu .tab-pane#craft-ui .item-content-editor input {
	width: 100%;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
	line-height: inherit;
	height: 100%;
	outline: 0;
}

.player-menu .tab-pane#craft-ui .slot-1,
.player-menu .tab-pane#craft-ui .slot-2,
.player-menu .tab-pane#craft-ui .slot-result {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
} 

.player-menu .tab-pane#craft-ui .slot-1{
	left: 5%;
}

.player-menu .tab-pane#craft-ui .slot-2{
	left: 30%;
}

.player-menu .tab-pane#craft-ui .slot-result{
	left: 80%;
}

.player-menu .tab-pane#craft-ui .slot-result .inventory-slot{
	background: var(--vp-c-fg);
}

.player-menu .inventory-selector {
	width: 130px;
	height: 50px;
	padding: 5px;
	background: var(--vp-c-bg);
	border: 1px solid var(--vp-c-bg-alt);
	border-radius: 5px;
	position: absolute;
	top: -150%;
	overflow: auto;
	z-index: 200;
	display: block;
}

.player-menu .inventory-selector .wrapper {
	display: flex;
	width: auto;
	gap: 5px;
}

.player-menu .inventory-selector .item {
	flex: 0 0 auto;
}

.player-menu .inventory button{
	background: var(--vp-c-bg-alt);
	border: 0;
	border-radius: 5px;
	color: var(--vp-c-text);
	padding: 5px 10px;
}

.player-menu .inventory .pager-buttons{
	display: flex;
	justify-content: space-between;
}

.player-menu #character {
	transform: scale(2);
}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
}

.player-menu .player-info-grid{
	display: grid;
	grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}