
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

*{
	box-sizing: border-box;
}

:root{
	--vp-c-bg: #1b1b1f;
	--vp-c-bg-alt: #161618;
	--vp-c-bg-elv: #202127;
	--vp-c-bg-soft: #20212788;
	--vp-c-text: rgba(255, 255, 245, .86);
	--vp-c-fg: #5c73e7;
}


.player-menu{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(5);
	padding: 10px;
	transition: .4s;
	z-index: -1;
	opacity: 0;
	
	display: flex;
	flex-wrap: wrap;

	background: linear-gradient(to right, var(--vp-c-bg-soft) 70%, transparent 100%);
}

.player-menu.active{
	transform: translate(-50%, -50%) scale(1);
	z-index: 1;
	opacity: 1;
}

.player-menu .menu{
	width: 70%;
	position: relative;
}

.player-menu .tabs{
	display: flex;
	flex-wrap: nowrap;
	gap: 0px;
	padding: 10px 10px;
	color: white;
}

.player-menu .tabs .tab{
	padding: 5px 10px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	border: 1px solid var(--vp-c-bg);
	border-radius: 5px;
	transition: .25s;
}

.player-menu .tabs .tab > b {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: var(--bg-icon);
	background-size: 32px 32px;
}

.player-menu .tabs .tab > b.inventory-icon{
	--bg-icon: url(/res/tex/chest.png);
}

.player-menu .tabs .tab > b.craft-icon{
	--bg-icon: url(/res/tex/hammer.png);
}

.player-menu .tabs .tab > b.map-icon{
	--bg-icon: url(/res/tex/blueprint.png);
}

.player-menu .tabs .tab > b.settings-icon{
	--bg-icon: url(/res/tex/bolt.png);
}

.player-menu .tabs .tab.active{
	color: white;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	margin-top: 10px;
}

.player-menu .tab-panes {
	position: absolute;
	top: 60px;
	height: calc(100% - 60px);
	width: 100%;
	border-top: 1px solid var(--vp-c-bg);
}

.player-menu .tab-panes .tab-pane{
	display: none;
	padding: 10px;
}

.player-menu .tab-panes .tab-pane.active{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

.player-menu .inventory{
	display: flex;
	justify-content: space-between;
	align-items: self-end;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.player-menu .inventory .inventory-group{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-height: 100%;
	overflow: scroll;
	max-width: calc(100% - 80px);
}

.player-menu .inventory-slot{
	width: 35px;
	height: 35px;
	background-color: var(--vp-c-bg-alt);
	border: 1px solid var(--vp-c-bg);
	display: block;
	text-align: center;
	line-height: 35px;
	border-radius: 5px;
}

.player-menu .inventory .inventory-slot.wearable{
	background-color: rgba(48, 91, 184, 0.4);
}

.player-menu .item{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #70c70d;
	position: relative;
	cursor: pointer;
}

.player-menu .item.with-icon{
	background: var(--item-url) no-repeat;
}

.player-menu .item .item-count{
	color: white;
	position: absolute;
	bottom: -10px;
	right: 1px;
	display: block;
	font-weight: 700;
}

.player-menu .inventory .inventory-item-info{
	position: absolute;
	background: var(--vp-c-bg-soft);
	width: 200px;
	height: 100px;
	display: flex;
	color: white;
	font-weight: 700;
	flex-direction: column;
	display: none;
	z-index: 100;
	border-radius: 15px;
	overflow: auto;
}

.player-menu .inventory .inventory-item-info .item-title{
	font-size: 22px;
	width: 100%;
	text-align: center;
}
.player-menu .inventory .inventory-item-info .item-title > span {
	font-size: 16px;
	position: absolute;
}

.player-menu .inventory-item-info button {
	cursor: pointer;
}

.player-menu .tab-pane#map{
	padding: 5px 0;
}

.player-menu .tab-pane #map{
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
}

.player-menu .tab-pane#craft-ui .item-content-editor{
	width: 100%;
	height: 40px;
	padding: 5px;
	background: var(--vp-c-bg-alt);
	border-radius: 5px;
	color: white;
}

.player-menu .tab-pane#craft-ui .item-content-editor input {
	width: 100%;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
	line-height: inherit;
	height: 100%;
	outline: 0;
}

.player-menu .tab-pane#craft-ui .slot-1,
.player-menu .tab-pane#craft-ui .slot-2,
.player-menu .tab-pane#craft-ui .slot-result {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
} 

.player-menu .tab-pane#craft-ui .slot-1{
	left: 5%;
}

.player-menu .tab-pane#craft-ui .slot-2{
	left: 30%;
}

.player-menu .tab-pane#craft-ui .slot-result{
	left: 80%;
}

.player-menu .tab-pane#craft-ui .slot-result .inventory-slot{
	background: var(--vp-c-fg);
}

.player-menu .inventory-selector {
	width: 130px;
	height: 50px;
	padding: 5px;
	background: var(--vp-c-bg);
	border: 1px solid var(--vp-c-bg-alt);
	border-radius: 5px;
	position: absolute;
	top: -150%;
	overflow: auto;
	z-index: 200;
}

.player-menu .inventory-selector .wrapper {
	display: flex;
	width: auto;
	gap: 5px;
}

.player-menu .inventory-selector .item {
	flex: 0 0 auto;
}

.player-menu .inventory button{
	background: var(--vp-c-bg-alt);
	border: 0;
	border-radius: 5px;
	color: var(--vp-c-text);
	padding: 5px 10px;
}

.player-menu .inventory .pager-buttons{
	display: flex;
	justify-content: space-between;
}