
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

*{
	box-sizing: border-box;
}


.player-menu{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
	transform: translate(-50%, -50%) scale(5);
	padding: 10px;
	transition: .4s;
	z-index: -1;
	opacity: 0;
	
	display: flex;
	flex-wrap: wrap;
}

.player-menu.active{
	transform: translate(-50%, -50%) scale(1);
	z-index: 1;
	opacity: 1;
}

.player-menu .menu{
	width: 70%;
	position: relative;
}

.player-menu .tabs{
	display: flex;
	flex-wrap: nowrap;
	gap: 0px;
	padding: 10px 10px;
	color: white;
}

.player-menu .tabs .tab{
	padding: 5px 10px;
	border: 2px solid #333;
	transform: skew(-20deg);
	margin: 5px;
	text-align: center;
	cursor: pointer;
	height: 40px;
}

.player-menu .tabs .tab > * {
	transform: skew(100deg);
	line-height: 25px;
}

.player-menu .tabs .tab.active{
	background: #09D0D0;
	border-color: #09D0D0;
	color: white;
}

.player-menu .tab-panes {
	position: absolute;
	top: 70px;
	height: calc(100% - 70px);
	width: 100%;
}

.player-menu .tab-panes .tab-pane{
	display: none;
	padding: 10px;
}

.player-menu .tab-panes .tab-pane.active{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

.player-menu .inventory{
	display: flex;
	justify-content: space-between;
	align-items: self-end;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.player-menu .inventory .inventory-group{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-height: 100%;
	overflow: scroll;
	max-width: calc(100% - 80px);
}

.player-menu .inventory .inventory-slot{
	width: 35px;
	height: 35px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	display: block;
	text-align: center;
	line-height: 35px;
}

.player-menu .inventory .inventory-slot.wearable{
	background-color: rgba(48, 91, 184, 0.4);
}

.player-menu .inventory .item{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #70c70d;
	position: relative;
	cursor: pointer;
}

.player-menu .inventory .item.with-icon{
	background: var(--item-url) no-repeat;
}

.player-menu .inventory .item .item-count{
	color: white;
	position: absolute;
	bottom: -10px;
	right: 1px;
	display: block;
	font-weight: 700;
}

.player-menu .inventory .inventory-item-info{
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 200px;
	height: 100px;
	display: flex;
	color: white;
	font-weight: 700;
	flex-direction: column;
	display: none;
	z-index: 100;
}

.player-menu .inventory .inventory-item-info .item-title{
	font-size: 22px;
	width: 100%;
	text-align: center;
}
.player-menu .inventory .inventory-item-info .item-title > span {
	font-size: 16px;
	position: absolute;
}